* {
  font-family: 'Roboto', sans-serif;
}
body {
  position: relative;
}
header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
header > img {
  margin-left: 22px;
}
header > ion-icon {
  margin-right: 22px;
  font-size: 45px;
}
main {
  margin-top: 80px;
  height: 100%;
  margin-bottom: 80px;
  background-color: #e5e5e5;
}
#listas {
  margin-top: 106px;
}
#listas li {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

.clock {
  color: #aaaaaa;
}
strong {
  color: #000000;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
}
footer {
  position: fixed;
  bottom: 0;
  height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff1f;
}
footer input {
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 17px;
  font-size: 18px;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}
input:focus {
  outline: none;
  border: none;
}
footer input::-webkit-input-placeholder {
  color: #000000;
  font-style: italic;
}
button {
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  background-color: #ffffff;
}
button ion-icon {
  font-size: 36px;
}
button:hover {
  cursor: pointer;
}
span {
  margin-left: 8px;
}
